@page "/creator"

    <center>
        <h3>Creator</h3>
    </center>
<h3> Paolo A. Grometto R.</h3>


 <p>
     If you want to know more about the creator visit his website <a href="https://www.infosecdiaries.live">infosecdiaries</a>
 </p>
